@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

.app-container{
  font-family: 'Roboto', sans-serif;
  transition: transform 0.3s ease-in-out;
  margin: 0px;
  padding: 0px;
}

.all-responive-img{
  border-radius: 10px !important;
  max-height: min(300px, 60vw); /* Scales up to 600px but never exceeds 90% of viewport width */
  min-height: 150px;
  width: auto;
}
.all-p-text{
  margin: 0px;
  line-height: 1.8;
  font-size: clamp(12px, 1.5vw, 14px);
}
.all-h-text{
  margin: 0px;
  line-height: 1.8;
  font-size: clamp(14px, 1.5vw, 16px);
}